body{
    background-color: #FAFAFA;
    padding-top: 50px;
}

.container{
    max-width: 550px;
    margin: auto;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21) ;
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}